a{
    text-decoration: none!important;
}
td{
    font-size: .9rem;
}
td.email{
    word-break: break-all;
}
ul.modal_list li{
    list-style-type: circle;
    margin-left: 40px;
}
#info{
    cursor: pointer;
}
#user_picture{
    margin-right: 10px;
}
.img_user img{
    border: 1px solid black;
    margin: 30px;
}
.info_profile{
    margin-top: 5vh;
}
.picture_profile
{
    margin-left: 5vw;
}
.form_upload{
    margin-top: 2vh;
}
.user_login{
    vertical-align: middle;
}
.settings_user{
    margin-left: 20px;
    line-height: 3rem;
    vertical-align: middle;
}
.gestion_user{
    margin-top: 5vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #00d1b1;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.menu-list a.is-active{
    background-color: transparent;
    color: gray;
    border-left: 1px solid gray;
}
.container-filters, .container-users{
    padding-right: 5vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.col {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .col {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}