/* Page de profil*/
.content_profile{
    margin-top: 5vh;
}
.content_profile nav a{
    color: #EF6461;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    color: #0A1128;
}
.img_user img{
    border: 1px solid black;
    margin: 30px;
}
.info_profile{
    margin-top: 5vh;
}
.picture_profile
{
    margin-left: 5vw;
}
.user_login{
    vertical-align: middle;
}
.settings_user{
    color: #EF6461;
    font-size: .6em;
    margin-left: 20px;
    line-height: 3rem;
    vertical-align: middle;
}
.gestion_user{
    margin-top: 5vh;
}
.carousel{
    margin-top: 8vh;
}
.profile_pictures{
    width: 60%;
    margin-left: 20%;
}
.carousel-control-next {
    filter: invert(100%);
}
.carousel-control-prev {
    filter: invert(100%);
}


/* Page account */
label{
    color: #0A1128;
}
.label-danger{
    color: #dc3545;
}
.label-dark{
    color: #0A1128;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #EF6461;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
h2.title_list_pictures{
    margin-top: 3vh;
}
.rcrop-outer{
    background-color: black !important;
}
#image-preview{
    width: 100%;;
}


/* Formulaires */
td.email{
    word-break: break-all;
}
.form_upload{
    margin-top: 2vh;
}

#info{
    cursor: pointer;
}
#user_picture{
    margin-right: 10px;
}

/* Menu Account */

.div-beau-gosse {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.div-onclick-red {
    background-color: #dc3545;
}

/* Admin */
.lds-roller {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #EF6461;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}